<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/myapp/view_complaint/">view_complaint</a>
<a href="/myapp/admin_change_password/">change password</a>
<a href="/myapp/add_school/"> add_school</a>
<a href="/myapp/view_college/"> view_college</a>
<a href="/myapp/view_students/"> view_students</a>
<a href="/myapp/view_fecility/"> view_fecility</a>
<a href="/myapp/allotment_notification/"> allotment_notification</a>
<a href="/myapp/view_allotment/"> view_allotment</a>
<a href="/myapp/view_complaint/"> view_complaint</a>
<a href="/myapp/view_college_review/"> view_college_review</a><br>
<a href="/myapp/logout/"> logout</a><br>








{% block body %}
{% endblock %}
</body>
</html>