{% extends 'college/collegeindex.html' %}
{% block body %}

<form action="/myapp/add_course_post/#abc" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <table class="table table-bordered">


<tr>

<td>Department Name</td>
           <td><select name="depa" class="form-control">
               {% for i in data %}
               <option value="{{ i.id }}">{{ i.name }}
                   {% endfor %}
               </option>
           </select></td>
</tr>
<tr>

<td>Course Name</td>
           <td><input type="text" name="name" pattern="[a-z A-Z]+" class="form-control" required></td>
</tr>
<tr>

<td>Seats</td>
           <td><input type="text" pattern="[0-9]+" name="seats" class="form-control" required></td>
</tr>

        <tr><td></td>
            <td><input type="submit" class="btn btn-success"></td>
        </tr>
    </table>
</form>

{% endblock %}