{% extends 'college/collegeindex.html' %}
{% block body %}
<form action="/myapp/add_subject_post/#abc" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <table class="table table-bordered">


<tr>

<th>Course Name</th>
           <td><select name="course" class="form-control">
               {% for i in data %}
               <option value="{{ i.id }}">{{ i.name }}
                   {% endfor %}
               </option>
           </select></td>
</tr>
<tr>

<th>Subject Name</th>
           <td><input type="text" name="name" pattern="[a-z A-Z]+" class="form-control" required></td>
</tr>
<tr>


</tr>

        <tr><td></td>
            <td><input type="submit" class="btn btn-success"></td>
        </tr>
    </table>
</form>
{% endblock %}