


{% extends 'college/collegeindex.html' %}
{% block body %}


<form  action="/myapp/college_change_password_post/#abc" method="post">
{% csrf_token %}
  <div class="container">


<table  class="table table-hover table-bordered table-stripped">
       <tr>
           <th> <label for="uname"><b>Old Password</b></label></th>
           <td>    <input type="text" class="form-control" placeholder="Enter Old Password" name="old_password" required class="text-center"></td>
       </tr>

   <tr>
        <th><label for="psw"><b>New Password</b></label></th>
        <td><input class="form-control" type="password" placeholder="Enter New Password" name="new_password" required class="text-center"></td>
   </tr>

       <tr>
           <th> <label for="psw"><b>Confirm Password</b></label></th>
           <td>    <input class="form-control" type="password" placeholder="Enter Confirm Password" name="con_password" required class="text-center"></td>

       </tr>


   </table>
      <div class="text-center">
          <input type="submit"  value="submit" class="btn btn-success ">
      </div>
 </div>
              <br>



</form>
{% endblock %}
