<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/myapp/view_college_profile/">view_profile</a><br>
<a href="/myapp/add_fecility/">add_fecility</a>
<br>
<a href="/myapp/view_college_fecility/">View Fecility</a><br>
<a href="/myapp/add_depart/"> add_depart</a><br>
<a href="/myapp/view_college_department/"> view_college_department</a><br>
<a href="/myapp/add_course/"> add_course</a><br>
<a href="/myapp/view_college_course/"> view_college_course</a><br>
<a href="/myapp/add_subject/"> add_subject</a><br>
<a href="/myapp/view_college_subject/"> view_college_subject</a><br>
<a href="/myapp/view_review/"> view_review</a><br>
<a href="/myapp/view_sheduled_notification/"> view_sheduled_notification</a><br>
<a href="/myapp/view_applied_admission/"> view_applied_admission</a><br>
<a href="/myapp/view_accept_applied_admission/"> view_accept_applied_admission</a><br>
<a href="/myapp/view_reject_applied_admission/"> view_reject_applied_admission</a><br>
<a href="/myapp/logout/"> logout</a><br>





{% block body %}
{% endblock %}
</body>
</html>