{% extends 'college/collegeindex.html' %}
{% block body %}
<form method="post" action="/myapp/view_review_post/#abc">
{% csrf_token %}


    <table class="left-pull">

    <tr>
        <th>From</th>
        <td>
            <input type="date" placeholder="Search here"required name="f" class="form-control">
        </td>
        <th>To</th>
         <td>
            <input type="date" placeholder="Search here" required name="t" class="form-control">
        </td>
        <td>
            <input type="submit" value="Search" class="btn btn-info">
        </td>
    </tr>
</table>
<br><br>
<table class="table table-hover table-bordered table-stripped">
    <tr>

        <th>Sl no</th>
        <th>Date</th>
        <th>Student name</th>
        <th>review</th>
        <th>rating</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.date }}</td>
        <td>{{ i.STUDENT.name }}</td>
        <td>{{ i.review }}</td>

    <td>{{ i.rating }}</td>

    </tr>

    {% endfor %}
</table>
</form>{% endblock %}
